<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Action</title>
</head>
<body data-bs-theme="dark">
    {% include "header.html" %}
    <main class="container">
        <div class="row">
            <h1 class="col-md-12  d-flex justify-content-center">{{ WorkingObject }}</h1>
            <div class="col-md-6">
                {% include "display_info.html" %}
            </div>
            <div class="col-md-6">
                <div class="mt-5">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Change {{ WorkingObject }} Status</h5>
                            <form name="change" method="post">
                                <input type="hidden" name="form_type" value="change">
                                <label for="text">Type {{ WorkingObject }} Id</label>
                                <input type="number" class="form-control" name="Id" placeholder="Id" required>
                            <button type="submit" class="btn btn-primary w-100 mt-1">Change Status!</button>
                        </form>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Create new {{ WorkingObject }}</h5>
                            <form name="create" method="post">
                                {% if WorkingObject=='Estates' %}
                                <input type="hidden" name="form_type" value="create_new">
                                <label for="text">Type {{ WorkingObject }} Square</label>
                                <input type="number" class="form-control" name="square" placeholder="Square" required>
                                <label for="text">Type {{ WorkingObject }} Address</label>
                                <input type="text" class="form-control" name="address" placeholder="Address" required>
                                <label for="text">Choose {{ WorkingObject }} type</label>
                                <select class="form-control" name="type" required>
                                    <option value="" disabled selected>Select an option</option>
                                    <option value="0">House</option>
                                    <option value="1">Flat</option>
                                    <option value="2">Loft</option>
                                </select>
                                {% else %}
                                <input type="hidden" name="form_type" value="create_new">
                                <label for="text">Type {{ WorkingObject }} price</label>
                                <input type="number" class="form-control" name="price" placeholder="price" required>
                                <label for="text">Type {{ WorkingObject }} Id</label>
                                <input type="number" class="form-control" name="Id" placeholder="Id" required>
                                {% endif %}
                            <button type="submit" class="btn btn-primary w-100 mt-1">Create new!</button>
                        </form>
                    </div>
                </div>
                {% if WorkingObject=='Advertisements'%}
                <div class="mt-2">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">By {{ WorkingObject }}</h5>
                            <form name="create" method="post">
                                <input type="hidden" name="form_type" value="by_estate">
                                <label for="text">Type {{ WorkingObject }} id</label>
                                <input type="number" class="form-control" name="Id" placeholder="Id" required>
                            <button type="submit" class="btn btn-primary w-100 mt-1">By now!</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% if alert_message %}
                <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                    {{ alert_message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            </div>
            </div>
        </div>
    </main>
</body>
</html>