<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>authorization</title>
</head>
<body data-bs-theme="dark">
    <div class="login-container">
        <h2 class="text-center">Login</h2>
        <form method="post">
          <div class="mb-3">
            <label for="login">Account address</label>
            <input type="login" class="form-control" name="account" placeholder="11d11d1dddd1dddd1d1g111FG11">
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          {% if error %}
          <div class="card mt-2">
            <div class="card-body">
              <h5 class="card-title">Error:</h5>
              <p class="card-text" style="color: red; font-size: 0.7em;">{{ error }}</p>
            </div>
          </div>
          {% endif %}
          <button type="submit" name="login" class="btn btn-primary w-100">Login</button>
          <a href="/registration" type="submit" name="signin" class="btn btn-primary w-100 mt-2">Singin</a>
        </form>
      </div>
</body>
</html>