<div class="mt-5">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Available {{ WorkingObject }}</h5>
            <ol>
                {% for item in items %}
                {% if item %}
                <li class="card-text">
                    {% for key, value in item.items() %}
                    <span> <em style="text-decoration: underline;"><b>{{ key }}</b></em>: <span>{{ value }}</span></span> <br>
                    {% endfor %}
                </li>
                {% else %}
                <li>You haven't anyone</li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
</div>