<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">MyEstate</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link" style="text-decoration: underline;">Account Balance: <span style="color: green;">{{ contract_balance }}</span></p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link" style="text-decoration: underline;">Smart Contract Balance: <span style="color: green;">{{ acc_balance }}</span></p>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" href="/home/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>