<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Home</title>
    {% if not auth %}
    <style>
        body, html {
            height: 100%;
            background: linear-gradient(to right, #642B73, #C6426E);
        }
        .container {
            max-width: 600px;
            text-align: center;
            padding: 30px;
            border-radius: 10px;
        }
        .btn-custom {
            width: 100%;
            margin: 10px 0;
        }
        .full-height {
            height: 100%;
        }
    </style>
    {% endif %}
</head>
<body data-bs-theme="dark">
    {% if auth %}
    {% include "header.html" %}
    
    <!-- Контент -->
    <main class="container mt-5">
        <div class="row">
            <!-- Создать недвижимость -->
            <div class="col-md-6 h-50">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Work with Estates</h5>
                        <p class="card-text">You can see yout estates and control their.</p>
                        <a href="/home/estates" class="btn btn-primary">Let's go</a>
                    </div>
                </div>
            </div>
            <!-- Создать объявление -->
            <div class="col-md-6 h-50">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Work with Advertisement</h5>
                        <p class="card-text">You can see yout Advertisement and control their.</p>
                        <a href="/home/advertisements" class="btn btn-primary">Let's go</a>
                    </div>
                </div>
            </div>
            <!-- Пополнить аккаунт -->
            <div class="d-flex justify-content-center">
                <div class="card mb-4 w-50">
                    <div class="card-body">
                        <h5 class="card-title">Deposit Money</h5>
                        <p class="card-text">Add funds to your account.</p>
                        <form method="POST">
                            <input type="hidden" name="form_type" value="deposit">
                            <input type="number" min="0" name="money" placeholder="+balance" required>
                            <button type="submit" class="btn btn-success">Deposit!</button>
                        </form>
                        <form method="POST">
                            <input type="hidden" name="form_type" value="withDraw">
                            <input type="number" min="0" name="money" placeholder="-balance" required>
                            <button type="submit" class="btn btn-danger">withDraw!</button>
                        </form>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% if alert_message %}
                    <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                        {{ alert_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% else %}
    <main class="container d-flex justify-content-center align-items-center full-height">
        <div class="row bg-dark rounded" style="padding: 20px; box-shadow: 0 4px 8px rgba(255, 255, 255, 0.233); ">
            <h1 class="mb-4">Welcome to Real Estate Shop</h1>
            <p class="mb-4">Find your dream property with us. Please login or register to continue.</p>
            <a href="/" class="btn btn-primary btn-custom">Login</a>
            <a href="/registration" class="btn btn-secondary btn-custom">Register</a>
        </div>
    </main>
    {% endif %}
</body>
</html>