<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>registration</title>
</head>
<body data-bs-theme="dark">
    <div class="login-container">
      <h2 class="text-center">Signin</h2>
      <form method="post">
        <div class="mb-6">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="signin" class="btn btn-primary w-100 mt-2">Singin</button>
        {% if new_account %}
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">New account:</p>
            <p class="card-text" style="color: green; font-size: 0.7em;">{{ new_account }}</p>
            <p class="card-text" style="color: red; font-size: 0.7em;">Don't lose it!</p>
          </div>
        </div>
        {% endif %}
        {% if error %}
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">Error:</p>
            <p class="card-text" style="color: red; font-size: 0.7em;">{{ error }}</p>
          </div>
        </div>
        {% endif %}
        <a class="btn btn-link w-100 mt-5" href="/" >Вернуться в главное меню</a>
      </form>
    </div>
</body>
</html>