.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 15px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
}

* {
    transition: all 0.3s;
}

main {
    animation: slideUp 0.5s forwards;
}

header {
    animation: slideDown 0.5s forwards;
}


.login-container {
    background-color: #212529;
}

@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}